* text=auto

*.py text eol=lf
*.sh text eol=lf
*.command text eol=lf
*.md text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.template binary
*.db binary
*.unity3d binary
